/* google font lnk */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* common style */

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

/* header and banner part */
.header {
    padding: 40px 50px;
    background: rgba(255, 144, 14, 0.1);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

nav ul li {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}

/* banner part style */
.banner {
    margin-top: 100px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 4em;
    line-height: 75px;
    color: #131313;
}

.desciption {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.banner-btn {
    border: none;
    background: #FF900E;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}


/* team part and features part section style */
.company-team-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding: 70px 70px;
}

.team-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;

}

.features-plan {
    width: 50%;
    margin-left: 70px;
}

.team-part img {
    width: 100%;
}

.plan-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}

.sub-title {
    color: #727272;
}

.sub-title1 {
    color: #131313;
}

.sub-title2 {
    color: #FF900E;

}

/* features and love section style */
.features-love-container {
    padding: 40px 50px;
    border: 1px solid;
    position: relative;
}

.features-love-article {
    display: flex;
}

/* left */
.love-items-container {
    width: 50%;
}

.love-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;
}

.item {
    margin: 20px 0;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

/* right */
.my-img {
    width: 50%;
    padding-left: 50px;
}

.my-img img {
    width: 100%;
    height: 100%;
}

.experience-box {
    width: 300px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
}

.ex-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}

@media screen and (max-width:576px) {
    .banner-title {
        font-size: 3em;
        line-height: 60px;
    }

    .company-team-section {
        flex-direction: column;
    }

    .team-part {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .features-plan {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 40px;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation ul {
        flex-direction: column;
        gap: 20px;
        margin: 10px;
    }
}

/* medium device */
@media screen and (min-width:576px) and (max-width:768px) {
    .banner-title {
        font-size: 3em;
        line-height: 60px;
    }

    .company-team-section {
        flex-direction: column;
    }

    .team-part {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .features-plan {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 40px;
    }



}